@font-face {
  font-family: "Noto Sans";
  font-weight: normal;
  src : url("/static/fonts/NotoSans-Regular.ttf")
}

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src : url("/static/fonts/Montserrat-Thin.ttf")
}