.news {
  .new {
    flex-flow: column;

    &,
    & > .main {
      display: flex;
    }


    .left {
      &, img {
        max-width: 100px;
      }
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      .views {
        width: 100px;
        display: block;
        margin-right: auto;
        text-align: center;
      }

      .user {
        display: flex;
        align-items: center;
      }
    }
  }
}