.news {
  .new {
    flex-flow: column;

    &:hover {
      background-color: #f7f7f79c;
    }

    .header {
      font-size: 1.3rem;
      color: darken($gray-lightest, 50%);
    }

    &,
    & > .main {
      display: flex;
    }


    .left {
      &, img, > div {
        width: 100px;
        max-width: 100px;
      }
    }

    .info {
      display: flex;
      align-items: center;

      .user {
        display: flex;
        align-items: center;
        //background-color: lighten($gray, 65%);
        font-size: .75rem;
        color: $gray-dark;
      }
    }
  }
}