#tags_inline {
  background-color: darken($white, 1%) !important;
  border-bottom: 1px solid lighten($gray-dark, 70%);
}

.tags-inline {
  li {
    &:first-child {
      a {
        padding-left: 0 !important;
      }
    }

    a {
      padding: {
        top: 10px;
        bottom: 0;
      };
      color: lighten($gray-dark, 40%);
      font-size: .9rem;

      &.active {
        color: $gray-dark;

        &:after {
          content: '';
          display: block;
          height: 2px;
          background-color: lighten($gray-dark, 50%);
          margin-top: 5px;
          border-radius: 1rem;
          margin-bottom: -1px;
        }
      }

      &:hover {
      }
    }
  }
}